
/* ======== Side Navbar ====== ===*/
.sidenav h4 , .sidenav li > a {
    color: white;
}


/* ======== Header Slider ====== ===*/

.slider .slides li .caption{ 
    text-shadow: 5px 5px 10px black;
}
.slider .btn {
    margin-top: 50px;
}

/* ======== Place Cards style ====== ===*/

.place-header{

}
.place-county{

}
.place-state-key {
    
}
.place-state-value {

}
.place-description-div{

}
.place-description {

}
.place-action-div{

}
.place-action-btn{
    
}


