{% extends "base.html" %}

{% block alltrails %}
<section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row  ">
                    <h4 class=" deep-orange-text text-darken-2 center-align ">{{ message }}</h4>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
 </section>

 
<section>
  <div class="container">
    <h2 class="header">Best To HIKINIE</h2>
    <div class="sub-header">Best Trails To Hike In Ireland with details that you need to start planning</div>
  </div>
{% for trail in trails %}
  <div class="container">

    <!-- trail Card-->
    <div class="col s12 m7">
      <div class="card">
        <div class="row">
          <div class="card-image col s12 m4">
            <img src="{{ trail.trail_image }}"/>
            <div>
            </div>
          </div>
          <div class="card-content col s12 m8">
            <div class="trail-header">
              {{ trail.trail_name }}
            </div>
            <div>
                {% for r in  range(get_avg_rating(trail._id)) %}
                <span><i class="trail-stars fas fa-star"></i></span>
                {% endfor %}
                {% for r in  range(5 - get_avg_rating(trail._id)) %}
                <span><i class="trail-stars far fa-star"></i></span>
                {% endfor %}
            </div>
            <span class="trail-county">{{ trail.trail_county }}</span>
            <span class="trail-category">{{ trail.trail_category }}</span>
            <span class="trail-state-key">Length</span>
            <span class="trail-state-value">{{ trail.length }}</span>
            <span class="trail-state-key">Est. Time</span>
            <span class="trail-state-value">{{ trail.est_time }}</span>
            <div class="trail-description-div">
              <p class="trail-description">
                {{ trail.description }}
              </p>
            </div>
            <div class="trail-action-div col s12">
              <a class="btn deep-orange lighten-2 trail-action-btn" href="{{ url_for('trail_page', trail_id=trail._id) }}">See more ..</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</section>
{% endblock %}