{% extends "base.html" %} {% block hikers %}

<!-- This Section shows all hikers cards -->
<section class="all-hikers-section">
  <div class="container">
    <h2 class="header">Hikers in HIKINIE</h2>
    <div class="row">
      {% for user in hikers %}
      <div class="card hiker-card col s12 m4">
        <div>
          <img class="hiker-card-img"
            src="{{ user.profile_img }}"
          />
        </div>
        <div class="hiker-name">{{ user.name }}</div>
        <div class="hiker-state">
          <span class="hiker-state-key">Completed</span>
          <span class="hiker-state-value">{{ user.completed }}</span>
          <span class="hiker-state-key">Planing</span>
          <span class="hiker-state-value">{{ user.planing }}</span>
        </div>
        <div class="card-content hiker-bio">
          <p>{{ user.bio }}</p>
        </div>
        <div class="card-action hiker-card-act">
          <a class="hiker-card-act-btn" href="#">Visit Profile</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
