{% extends "base.html" %} {% block hiker_profile %}
<!-- Hiker Profile Header section -->
<section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row  ">
                    <h4 class=" deep-orange-text text-darken-2 center-align ">{{ message }}</h4>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
 </section>

  <!-- Hiker profile Header 
    Showes Hiker Details like image , name bio etc..
    -->

<section>
  <div class="container">
    <div class="profile-header">
      <img class="hiker-profile-img" src="{{ hiker.profile_img }}"/>
    </div>
    <div class="hiker-name">{{ hiker.profile_name }}</div>
    <div class="hiker-socials">
      <a class="hiker-socials-icon" href="{{ hiker.facebook_link }}" target="_blank"><i class="fab fa-facebook"></i></a>
      <a class="hiker-socials-icon" href="{{ hiker.instagram_link }}" target="_blank"><i class="fab fa-instagram"></i></a>
      <a class="hiker-socials-icon" href="{{ hiker.twitter_link  }}" target="_blank"><i class="fab fa-twitter-square"></i></a>
    </div>
    <div class="hiker-profile-bio">
      <p>
      {{ hiker.bio }}
      </p>
       {% if session.name == hiker.name %}
      <a href="#profile_edit" class="tooltipped modal-trigger"
        data-position="bottom" data-tooltip="Edit Profile" >
        <span class="hiker-state-value">Edit Profile  <i class="far fa-edit"></i></span>
      </a>
      {% endif %}
    </div>
  </div>
</section>
<!-- Hiker Gallery section -->
<section>
  <div class="container">
  {% if hiker.gallery %}
    <h3 class="header">{{ hiker.profile_name }} Gallery </h3>
  {% endif %}

       {% if session.name == hiker.name %}
       <div class="row center-align">
      <a href="#upload_gla_img" class="tooltipped modal-trigger tooltipped" data-position="bottom" data-tooltip="Add Image">
        <span class="hiker-state-value">Upload Images  <i class="far fa-plus-square"></i></span>
      </a>
      </div>
      {% endif %}

    <div class="owl-carousel">
    <!-- Render images from hiker gallery -->
        {% for img in hiker.gallery %}
      <img class="hiker-gallery-img" src="{{ img.img_url }}" />
        {% endfor %}
    </div>
  </div>
</section>

<!-- Add Trail -->
       {% if session.name == "admin" %}
        <section>
        <div class="container">
            <div class="header">Add a trail to HIKINI</div>
            <!-- Add trail Modal Trigger -->
            <div class="sign-up-btn">
            <a class="waves-effect waves-light btn deep-orange lighten-2 modal-trigger" href="#add_new_trail">Add new Trail</a>
            </div>
        </div>
        </section>
      {%  endif %}

<!-- Hiker selected trails with review -->
<section>
  <div class="container">
    {% if hiker.Added_trails %}
    <h3 class="header">{{ hiker.profile_name }} trails</h3>
    {% endif %}
    {% for review in reviews %}
    <div class="col s12 m7">
      <div class="card">
        <div class="row">
          <div class="card-image col s12 m4">
            <img src="{{ get_trail(review.trail_id).trail_image }}"/>
            <div class="trail-btm-div">
              <div class="trail-header trail-btm-info">
                {{ get_trail(review.trail_id).trail_name }}
              </div>
                <div class="container trail-review-status">
                {% if review.trail_status == "completed" %}
                <span><i class="fas fa-check-circle completed-icon"></i>Completed</span>
                {% else %}
                <span><i class="fas fa-plus-circle plan-icon"></i> Planning</span>
                {% endif %}
                </div>
            </div>
          </div>
          <div class="card-content col s12 m8">
            <div class="trail-review-div">
              <div class="trail-review-header">
                {{ review.review_header }}
              </div>
              <div>
              {% if review.review_rating %}
                <!-- get review rating  and represent it as a stars  -->
                    {% for r in  range(review.review_rating) %}
                    <span><i class="trail-stars fas fa-star"></i></span>
                    {% endfor %}
                    {% for r in  range(5 - review.review_rating) %}
                    <span><i class="trail-stars far fa-star"></i></span>
                    {% endfor %}
              {% endif %}
              </div>
              <p class="trail-review-para">
              {{ review.review_post }}
              </p>
              <div class="trail-action-div col s12">
            <!-- Delete Post Icon-->
            {% if session.name == hiker.name %}
              <a href="#delete_trail_{{ review._id }}" class=" modal-trigger" >
              <span class="hiker-state-value tooltipped" data-tooltip="Delete">
              <i class="trail-stars far fa-trash-alt"></i></span></a>
              <!-- "Delete Post form -->
                <div id="delete_trail_{{ review._id }}" class="modal">
                    <div class="modal-content">
                    <div class="row">
                    <form class="col s12" method="POST" 
                    action="{{ url_for('delete_post', trail_id=get_trail(review.trail_id)._id, review_id=review._id) }}">
                        <div class="row">
                            <div class="input-field col s12">
                            <div>Are you Sure you want to DELETE this post</div>
                            </div>
                        </div>
                    <!-- Submit Btn-->
                        <div class="row">
                            <button type="submit" class="modal-close waves-effect waves-light btn red modal-trigger" >DELETE</button>
                        </div>
                    </form>
                        </div>
                    </div>
                </div>
            {% endif %}
                <span class="review-stars-div">
                    <a class="trail-action-btn add-comment modal-trigger" 
                    href="#add_comment_{{ review._id }}">Add Comment  <i class=" far fa-comment"></i></a>
                </span>
              <!-- "Add Comment form -->
                <div id="add_comment_{{ review._id }}" class="modal">
                    <div class="modal-content">
                    <div class="row">
                    {% if session.name %}
                    <form class="col s12" method="POST" 
                    action="{{ url_for('add_comment', trail_id=get_trail(review.trail_id)._id, review_id=review._id) }}">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="comment_post" name="comment_post" class="materialize-textarea"></textarea>
                                <label for="comment_post">Write your comment here ..</label>
                            </div>
                        </div>
                    <!-- Submit Btn-->
                        <div class="row">
                            <button type="submit" class="modal-close waves-effect waves-light btn green lighten-2 modal-trigger" >Submit</button>
                        </div>
                    </form>
                    {% else %}
                        <div>you need to login to add Comment</div>
                        <a href="#login_modal_main" class="waves-effect deep-orange lighten-2 btn modal-trigger">Log IN</a>
                    {% endif %}
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</section>

<!-- Parallax  -->
<div class="parallax-container">
  <div class="parallax">
    <img src="https://cdn.pixabay.com/photo/2016/03/09/16/46/hiking-1246836_960_720.jpg"/>
  </div>
</div>

<!-- Other Hikers in HIKINIE-->
<section class="hikers-section">
  <div class="container">
    <h2 class="header">Other Hikers ..</h2>
    <div class="sub-header">Our Community of Hikers , We share reviews and planning tips</div>
    <!-- I am using Owl Carousel to show cards , animation added in script.js file-->
    <div class="slider owl-carousel more-hiker-slider">
      {% for h in hikers %}
      <div class="col s12 m4">
      <div class="card hiker-card">
        <div>
          <img class="hiker-card-img" src="{{ h.profile_img }}"/>
        </div>
        <div class="hiker-name">{{ h.profile_name }}</div>
        <div class="hiker-state">
          <span class="hiker-state-key">Completed</span>
          <span class="hiker-state-value">{{ h.completed }}</span>
          <span class="hiker-state-key">Planing</span>
          <span class="hiker-state-value">{{ h.planing }}</span>
        </div>
        <div class="card-content hiker-bio">
          <p>{{ h.bio }}</p>
        </div>
        <div class="card-action hiker-card-act">
          <a class="hiker-card-act-btn" href="{{ url_for('hiker_profile', hiker_id=h._id) }}">Visit Profile</a>
        </div>
      </div>
      </div>
      {% endfor %}
    </div>
    <div class="more-div">
      <a class="waves-effect waves-light btn deep-orange lighten-2" href="{{ url_for('all_hikers') }}"
        >All Hikers</a
      >
    </div>
  </div>
</section>

<!-- Join Our Community Section / CTA Sign up Form-->
{% if session.name %}
{% else %}
<section>
  <div class="container">
    <div class="header">Join our Community ..</div>
    <div class="sub-header">Join Our community of hikers , share reviews & your plan</div>
    <!-- Sign up Modal Trigger -->
    <div class="sign-up-btn">
      <a
        class="waves-effect waves-light btn deep-orange lighten-2 modal-trigger"
        href="#signupform">Sign Up</a>
    </div>
  </div>
</section>
{% endif %}
<!-- Parallax  -->
<div class="parallax-container">
  <div class="parallax">
    <img
      src="https://cdn.pixabay.com/photo/2016/01/19/17/12/mountains-landscape-1149580_960_720.jpg"
    />
  </div>
</div>

<!-- More Trails -->

<section>
  <div class="container">
    <div class="header">Find your next trail..</div>
    <div class="sub-header">Best Trails To Hike In Ireland with details that you need to start planning</div>
    <div class="slider owl-carousel more-trail-slider">
      {% for t in trails %}
      <a href="{{ url_for('trail_page', trail_id=t._id) }}" class="more-trails-cards-link">
        <div class="card more-trail-card">
          <div>
            <img
              class="more-trail-image"
              src="{{ t.trail_image }}"
            />
          </div>
          <div class="trail-btm-div">
            <div class="trail-header trail-btm-info">
              {{ t.trail_name }}
            </div>
            <div>
            <!-- get rating average for this trail and represent it as a stars  -->
                {% for r in  range(get_avg_rating(t._id)) %}
                <span><i class="trail-stars fas fa-star"></i></span>
                {% endfor %}
                {% for r in  range(5 - get_avg_rating(t._id)) %}
                <span><i class="trail-stars far fa-star"></i></span>
                {% endfor %}
            </div>
            <span class="trail-state-key trail-btm-info">Length</span>
            <span class="trail-state-value trail-btm-info">{{ t.length }}</span>
            <span class="trail-state-key trail-btm-info">Est. Time</span>
            <span class="trail-state-value trail-btm-info">{{ t.est_time }}</span>
          </div>
        </div>
     </a>
    {% endfor %}
    </div>
    <div class="more-div">
      <a class="waves-effect waves-light btn deep-orange lighten-2" href="{{ url_for('all_trails') }}"
        >All Trails</a
      >
    </div>
  </div>
</section>

<!-- Parallax  -->
<div class="parallax-container">
  <div class="parallax">
    <img src="https://cdn.pixabay.com/photo/2016/11/22/19/25/adult-1850181_960_720.jpg"/>
  </div>
</div>
      <!-- Edit Profile Form-->
      <div id="profile_edit" class="modal">
        <div class="modal-content">
          <div class="row">
            <form class="col s12" method="POST" action="{{ url_for('edit_profile') }}">
              <!-- Profile Name input-->
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Profile Name" id="profile_name" name="profile_name" type="text" class="validate"/>
                  <label for="profile_name">Profile Name</label>
                </div>
              </div>
              <!-- Bio input-->
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="hiker_bio" name="hiker_bio" class="materialize-textarea" ></textarea>
                  <label for="hiker_bio">Bio</label>
                </div>
              </div>
              <!-- Social Links-->
              <div class="row">
                <div class="input-field col s12">
                  <input id="facebook_link" name="facebook_link" type="text" class="validate" />
                  <label for="facebook_link"><i class="fab fa-facebook"></i> Facebook link</label>
                </div>
                <div class="input-field col s12">
                  <input id="instagram_link" name="instagram_link" type="text" class="validate" />
                  <label for="instagram_link"><i class="fab fa-instagram"></i> Instagram link</label>
                </div>
                <div class="input-field col s12">
                  <input id="twitter_link" name="twitter_link" type="text" class="validate" />
                  <label for="twitter_link"
                    ><i class="fab fa-twitter-square"></i> Twitter link</label
                  >
                </div>
              </div>
              <!-- upload profile picture-->
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Paste image url to upload an image" id="profile_img" name="profile_img" type="text" class="validate"/>
                  <label for="profile_img"></label>
                </div>
              </div>
              <!-- Submit Btn-->
              <div class="row">
                <button type="submit" class="modal-close waves-effect waves-light btn green lighten-2 modal-trigger" >Edit Profile</button>
              </div>
              <!-- Delete Account-->
              <div>
              <a href="#delete_account" class="modal-close modal-trigger red-text text-darken-2" ><i class="trail-stars far fa-trash-alt"></i> Delete account</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    <!-- "Delete Account form -->
        <div id="delete_account" class="modal">
            <div class="modal-content">
            <div class="row">
                <form class="col s12" method="POST" 
                action="{{ url_for('delete_account', hiker_id=hiker._id) }}">
                    <div class="row">
                        <div class="input-field col s12">
                        <div>Are you Sure you want to DELETE your account</div>
                        </div>
                    </div>
                <!-- Submit Btn-->
                    <div class="row">
                        <button type="submit" class="waves-effect waves-light btn red " >DELETE </button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    <!-- Upload image to gallery form-->
    <div id="upload_gla_img" class="modal">
      <div class="modal-content">
        <div class="row">
          <form class="col s12" method="POST" action="{{ url_for('add_image') }}">
            <!-- Select Trail linked to images uploaded-->
            <div class="input-field col s12">
              <select id="trail_for_img" name="trail_for_img" class="validate" required>
                <option value="" disabled selected>Choose the Trail</option>
                {% for t in trails %}
                <option value="{{ t.trail_name }}">{{ t.trail_name }}</option>
                {% endfor %}
              </select>
              <label for="trail_for_img">Upload to Gallery</label>
            </div>
            <!-- upload Images-->
            <div class="file-field input-field col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Paste image url to upload an image" id="img_url" name="img_url" type="text" class="validate"/>
                  <label for="img_url"></label>
                </div>
              </div>
            </div>
            <!-- Submit Btn-->
            <div >
            <button type="submit" class="modal-close waves-effect waves-light btn green lighten-2" >Upload Images</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Add trail Modal Form -->
    <div id="add_new_trail" class="modal">
      <div class="modal-content">
        <div class="row">
          <form class="col s12" method="POST" action="{{ url_for('add_new_trail') }}"> 
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="trail_name" id="trail_name" name="trail_name" type="text" />
                <label for="trail_name">Trail Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="trail_county" id="trail_county" name="trail_county" type="text" />
                <label for="trail_county">Trail County</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="map_location" id="map_location" name="map_location" type="text" />
                <label for="map_location">Map Location</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="trail_image" id="trail_image" name="trail_image" type="text" />
                <label for="trail_image">Trail Header image</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="trail_category" id="trail_category" name="trail_category" type="text" />
                <label for="trail_category">Trail Category</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="description" id="description" name="description" type="text" />
                <label for="description">Trail Description</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="length" id="length" name="length" type="text" />
                <label for="length">Trail Length</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="est_time" id="est_time" name="est_time" type="text" />
                <label for="est_time">Trail Est_time</label>
              </div>
            </div>
            <div class="sign-up-btn">
              <button type="submit" class=" waves-effect waves-light btn deep-orange lighten-2 ">
                Add Trail
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Sign up Modal Form -->
    <div id="signupform" class="modal">
      <div class="modal-content">
        <div class="modal-header">Join HIKINIE</div>
        <div class="row">
          <form class="col s12" method="POST" action="{{ url_for('signup') }}">
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Name" id="name" name="name" type="text" 
                minlength="4" maxlength="25" class="validate" required />
                <label for="name">Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Email" id="email" name="email" type="email"
                 class="validate" required />
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="password" id="password" name="password" type="password" minlength="8" class="validate" required/>
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Confirm Password" id="password2" name="password2" type="password" class="validate" required/>
                <label for="password2">Confirm Password</label>
              </div>
            </div>
            <div class="sign-up-btn">
              <button type="submit" class=" waves-effect waves-light btn deep-orange lighten-2 modal-trigger">
                Sign Up
              </button>
            </div>
            <a class="modal-close modal-trigger" href="#login_modal"
              >Already Signed ..Login here
            </a>
          </form>
        </div>
      </div>
    </div>
    <!-- Login Modal Form -->
    <div id="login_modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">Login</div>
        <div class="row">
          <form class="col s12" method="POST" action="{{ url_for('login') }}">
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Email" id="login_email" name="login_email" type="email"
                 class="validate" required />
                <label for="login_email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="password" id="login_password" name="login_password" type="password" class="validate" required/>
                <label for="login_password">Password</label>
              </div>
            </div>

            <div class="sign-up-btn">
              <button type="submit" class=" waves-effect waves-light btn deep-orange lighten-2 ">
                Login
              </button>
            </div>
            <a class=" modal-trigger" href="#signupform"
              >Not Signed yet .. sign up here
            </a>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
