{% extends "base.html" %} {% block hikers %}

<!-- This Section shows all hikers cards -->
<section class="all-hikers-section">
  <div class="container">
    <h2 class="header">Hikers in HIKINIE</h2>
    <div class="row">
      {% for hiker in hikers %}
      <div class="col s12 m4">
      <div class="card hiker-card">
        <div>
          <img class="hiker-card-img"
            src="{{ hiker.profile_img }}"
          />
        </div>
        <div class="hiker-name">{{ hiker.name }}</div>
        <div class="card-content hiker-bio">
          <p>{{ hiker.bio }}</p>
        </div>
        <div class="card-action hiker-card-act">
          <a class="hiker-card-act-btn" href="{{ url_for('hiker_profile', hiker_id=hiker._id) }}">Visit Profile</a>
        </div>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
