{% extends "base.html" %} {% block slider %}
<!-- Header carousel slider -->

<!-- 
            Header Carouse slider inspired by Brad Traversy from Traversy Media 
            In Materialize CSS tutorial on youtube He used Vanila JS  , 
            So The code Edited to use Jquery , see script.js line 4 to line 12
        -->

<section class="slider">
  <ul class="slides">
    <li>
      <img
        src="https://cdn.pixabay.com/photo/2017/08/10/16/18/sunrise-2624402_960_720.jpg"
        alt="Header-slider-image-1"
      />
      <div class="caption center-align">
        <h2>Best Places To Hike In Ireland</h2>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">
          Lorem ipsum dolor sit amet consectetur
        </h5>
        <a href="#" class="btn btn-large deep-orange lighten-2">See Places</a>
      </div>
    </li>
    <li>
      <img
        src="https://cdn.pixabay.com/photo/2018/10/17/05/50/view-3753184_960_720.jpg"
        alt="Header-slider-image-2"
      />
      <div class="caption left-align">
        <h2>Most Popular Hiking Trails</h2>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">
          Lorem ipsum dolor sit amet
        </h5>
        <a href="#" class="btn btn-large deep-orange lighten-2">See Places</a>
      </div>
    </li>
    <li>
      <img
        src="https://cdn.pixabay.com/photo/2016/11/19/12/58/adventure-1839147_960_720.jpg"
        alt="Header-slider-image-3"
      />
      <div class="caption right-align">
        <h2>Meet Fellow Hikers</h2>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">
          Lorem ipsum dolor sit amet!
        </h5>
        <a href="#" class="btn btn-large deep-orange lighten-2">Find Hikers</a>
      </div>
    </li>
    <li>
      <img
        src="https://cdn.pixabay.com/photo/2017/04/29/08/46/hiking-2270261_960_720.jpg"
        alt="Header-slider-image-4"
      />
      <div class="caption left-align">
        <h2>Organise Hikes Together</h2>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">
          Veniam non illo earum cumque id est!
        </h5>
        <a href="#" class="btn btn-large deep-orange lighten-2">Find Hikers</a>
      </div>
    </li>
  </ul>
</section>

{% endblock %} {% block places_cards %}
<!-- Top Places cards 
    This Section Shows a sample of places in the home page 
    each place showed in card with image & details
-->
<section>
  <!-- Places cards Container-->
  <div class="container">
    <h2 class="header">Best To HIKINIE</h2>
    <!-- Place Card-->
    <div class="col s12 m7">
      <div class="card">
        <div class="row">
          <div class="card-image col s12 m4">
            <img
              src="https://cdn.pixabay.com/photo/2019/05/16/18/51/cliffs-of-moher-4207875_960_720.jpg"
            />
          </div>
          <div class="card-content col s12 m8">
            <div class="place-header">
              Carrauntoohil Mountain, MacGillycuddy’s Reeks
            </div>
            <span class="place-county">Co. Kerry</span>
            <span class="place-state-key">Length</span>
            <span class="place-state-value">14.5 km</span>
            <span class="place-state-key">Est. Time</span>
            <span class="place-state-value">5.5 hours</span>
            <div class="place-description-div">
              <p class="place-description">
                this travel offers multiple routes and is noted to be a
                strenuous but rewarding walking route
              </p>
            </div>
            <div class="place-action-div col s12">
              <a class="place-action-btn" href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
