{% extends "base.html" %} {% block slider %}
<!-- Header carousel slider -->

<!-- 
            Header Carouse slider inspired by Brad Traversy from Traversy Media 
            In Materialize CSS tutorial on youtube He used Vanila JS  , 
            So The code Edited to use Jquery , see script.js line 4 to line 12
        -->

<section class="slider">
  <ul class="slides">
    <li>
      <img
        src="https://cdn.pixabay.com/photo/2017/08/10/16/18/sunrise-2624402_960_720.jpg"
        alt="Header-slider-image-1"
      />
      <div class="caption center-align">
        <h2>Best Trails To Hike In Ireland</h2>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">
          Lorem ipsum dolor sit amet consectetur
        </h5>
        <a href="#" class="btn btn-large deep-orange lighten-2">See Trails</a>
      </div>
    </li>
    <li>
      <img
        src="https://cdn.pixabay.com/photo/2018/10/17/05/50/view-3753184_960_720.jpg"
        alt="Header-slider-image-2"
      />
      <div class="caption left-align">
        <h2>Most Popular Hiking Trails</h2>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">
          Lorem ipsum dolor sit amet
        </h5>
        <a href="#" class="btn btn-large deep-orange lighten-2">See Trails</a>
      </div>
    </li>
    <li>
      <img
        src="https://cdn.pixabay.com/photo/2016/11/19/12/58/adventure-1839147_960_720.jpg"
        alt="Header-slider-image-3"
      />
      <div class="caption right-align">
        <h2>Meet Fellow Hikers</h2>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">
          Lorem ipsum dolor sit amet!
        </h5>
        <a href="#" class="btn btn-large deep-orange lighten-2">Find Hikers</a>
      </div>
    </li>
    <li>
      <img
        src="https://cdn.pixabay.com/photo/2017/04/29/08/46/hiking-2270261_960_720.jpg"
        alt="Header-slider-image-4"
      />
      <div class="caption left-align">
        <h2>Organise Hikes Together</h2>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">
          Veniam non illo earum cumque id est!
        </h5>
        <a href="#" class="btn btn-large deep-orange lighten-2">Find Hikers</a>
      </div>
    </li>
  </ul>
</section>

{% endblock %} {% block trails_cards %}
<!-- Top trails cards 
    This Section Shows a sample of trailss in the home page 
    each trail showed in card with image & details
-->
<section>
  <!-- trails cards Container-->
  <div class="container">
    <h2 class="header">Best To HIKINIE</h2>
{% for trail in trails %}
    <!-- trail Card-->
    <div class="col s12 m7">
      <div class="card">
        <div class="row">
          <div class="card-image col s12 m4">
            <img
              src="{{ trail.trail_image }}"
            />
            <div>
            <div class="trail-btm-div">
            <a href="#"><i class="fas fa-check-circle completed-icon"></i> Completed</a>
            <a href="#"><i class="fas fa-plus-circle plan-icon"></i> Plan to</a>
            </div>
            </div>
          </div>
          <div class="card-content col s12 m8">
            <div class="trail-header">
              {{ trail.trail_name }}
            </div>
            <div>
              <span><i class="trail-stars fas fa-star"></i></span>
              <span><i class="trail-stars fas fa-star"></i></span>
              <span><i class="trail-stars fas fa-star"></i></span>
              <span><i class="trail-stars fas fa-star-half-alt"></i></span>
              <span><i class="trail-stars far fa-star"></i></span>
            </div>
            <span class="trail-county">{{ trail.trail_county }}</span>
            <span class="trail-category">{{ trail.trail_category }}</span>
            <span class="trail-state-key">Length</span>
            <span class="trail-state-value">{{ trail.length }}</span>
            <span class="trail-state-key">Est. Time</span>
            <span class="trail-state-value">{{ trail.est_time }}</span>
            <div class="trail-description-div">
              <p class="trail-description">
                {{ trail.description }}
              </p>
            </div>
            <div class="trail-action-div col s12">
              <a class="btn deep-orange lighten-2 trail-action-btn" href="{{ url_for('trail_page', trail_id=trail._id) }}">See more ..</a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
  </div>
</section>

{% endblock %}

<!-- Hikers cards 
    This Section Shows sample of hikers profiles
-->
{% block hikers %}

<section class="hikers-section">
  <div class="container">
    <h2 class="header">Hikers in HIKINIE</h2>
    <!-- I am using Owl Carousel to show cards , animation added in script.js file-->
    <div class="slider owl-carousel">
      {% for hiker in hikers %}
      <div class="col s12 m4">
      <div class="card hiker-card">
        <div>
          <img class="hiker-card-img"
            src="{{ hiker.profile_img }}"
          />
        </div>
        <div class="hiker-name">{{ hiker.profile_name }}</div>
        <div class="hiker-state">
          <span class="hiker-state-key">Completed</span>
          <span class="hiker-state-value">{{ hiker.completed }}</span>
          <span class="hiker-state-key">Planing</span>
          <span class="hiker-state-value">{{ hiker.planing }}</span>
        </div>
        <div class="card-content hiker-bio">
          <p>{{ hiker.bio }}</p>
        </div>
        <div class="card-action hiker-card-act">
          <a class="hiker-card-act-btn" href="{{ url_for('hiker_profile', hiker_id=hiker._id) }}">Visit Profile</a>
        </div>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
