{% extends "base.html" %} 

{% block Thanks_page %}
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row ">
                        <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

<h2>Thank you for regestration</h2>
<h4>Update profile</h4>
{% endblock %}